doctype html
meta(charset='utf-8')
title nginx-rtmp-frontend
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='css/bootstrap.min.css')
link(rel='stylesheet' href='css/font-awesome.min.css')
style.
  * {
    font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, 'メイリオ', Meiryo, sans-serif;
  }
#root.container(style='display: none;')
  p
    fieldset
      legend.i18n-local-settings
      .row
        .col-sm-3.text-right
          label.form-control-static.i18n-path-to-nginx(for='nginx-path')
        .col-sm-9
          .input-group
            input#nginx-path.form-control(type='text', style='width: 100%;')
            span.input-group-btn
              button#select-button.btn.btn-secondary.i18n-select(type='button')
      .row
        .col-sm-3.text-right
          label.form-control-static.i18n-port(for='port')
        .col-sm-2
          input#port.form-control(
            placeholder='1935', type='number', min='1', max='65535')
      hr
      .row
        .col-sm-3.text-right
          label.form-control-static(for='fms') FMS URL:
        .col-sm-6
          .input-group
            input.form-control(
              type='text', readonly, style='width: 100%;')#fms
            span.input-group-btn
              button.btn.btn-secondary(type='button')#copy
                i.fa.fa-files-o
                span.i18n-copy(style='margin-left: 0.5em;')
      .row
        .col-sm-push-3.col-sm-9.i18n-notification-for-fms-url
    fieldset
      legend.i18n-service-settings
      .row
        .col-sm-4.btn-group-vertical
          button.btn.btn-secondary#twitch-button
            span.pull-left Twitch
            span.pull-right
              i.fa.fa-check#twitch-check
          button.btn.btn-secondary.text-left#peercaststation-button
            span.pull-left PeerCastStation
            span.pull-right
              i.fa.fa-check#peercaststation-check
          button.btn.btn-secondary.text-left#cavetube-button
            span.pull-left CaveTube
            span.pull-right
              i.fa.fa-check#cavetube-check
          button.btn.btn-secondary.text-left#livecodingtv-button
            span.pull-left Livecoding.tv
            span.pull-right
              i.fa.fa-check#livecodingtv-check
          button.btn.btn-secondary.text-left#niconico-button
            span.pull-left niconico
            span.pull-right
              i.fa.fa-check#niconico-check
        .col-sm-8(style='display: none;')#twitch-option
          .row
            .col-sm-push-3.col-sm-9
              .checkbox
                label
                  input(type='checkbox')#twitch-enabled
                  span.i18n-enable
          .row
            .col-sm-3.text-right
              label.form-control-static(for='twitch-fms') FMS URL:
            .col-sm-9
              select.form-control(style='height: 40px;')#twitch-fms
          .row
            .col-sm-3.text-right
              label.form-control-static.i18n-stream-key(for='twitch-key')
            .col-sm-9
              input.form-control(style='width: 100%', type='text')#twitch-key
        .col-sm-8(style='display: none;')#peercaststation-option
          .row
            .col-sm-push-3.col-sm-9
              .checkbox
                label
                  input(type='checkbox')#peercaststation-enabled
                  span.i18n-enable
          .row
            .col-sm-3.text-right
              label.form-control-static(for='peercaststation-fms') FMS URL:
            .col-sm-9
              input.form-control(style='width: 100%', type='text')#peercaststation-fms
          .row
            .col-sm-3.text-right
              label.form-control-static.i18n-stream-key(for='peercaststation-key')
            .col-sm-9
              input.form-control(style='width: 100%', type='text')#peercaststation-key
        .col-sm-8(style='display: none;')#cavetube-option
          .row
            .col-sm-push-3.col-sm-9
              .checkbox
                label
                  input(type='checkbox')#cavetube-enabled
                  span.i18n-enable
          .row
            .col-sm-3.text-right
              label.form-control-static(for='cavetube-fms') FMS URL:
            .col-sm-9
              input.form-control(style='width: 100%', type='text')#cavetube-fms
          .row
            .col-sm-3.text-right
              label.form-control-static.i18n-stream-key(for='cavetube-key')
            .col-sm-9
              input.form-control(style='width: 100%', type='text')#cavetube-key
        .col-sm-8(style='display: none;')#livecodingtv-option
          .row
            .col-sm-push-3.col-sm-9
              .checkbox
                label
                  input(type='checkbox')#livecodingtv-enabled
                  span.i18n-enable
          .row
            .col-sm-3.text-right
              label.form-control-static(for='livecodingtv-fms') FMS URL:
            .col-sm-9
              input.form-control(style='width: 100%', type='text')#livecodingtv-fms
          .row
            .col-sm-3.text-right
              label.form-control-static.i18n-stream-key(for='livecodingtv-key')
            .col-sm-9
              input.form-control(style='width: 100%', type='text')#livecodingtv-key
        .col-sm-8(style='display: none;')#niconico-option
          .row
            .col-sm-push-3.col-sm-9
              .checkbox
                label
                  input(type='checkbox')#niconico-enabled
                  span.i18n-enable
          .row
            .col-sm-3.text-right
              label.form-control-static(for='niconico-fms') FMS URL:
            .col-sm-9
              input.form-control(style='width: 100%', type='text')#niconico-fms
          .row
            .col-sm-3.text-right
              label.form-control-static.i18n-stream-key(for='niconico-key')
            .col-sm-9
              input.form-control(style='width: 100%', type='text')#niconico-key
  hr
  fieldset.text-right
    .row
      .col-sm-12
        button.btn.btn-secondary.i18n-restart-nginx(type='button')#restart-button
    .row
      .col-sm-12(style='display: none;')#restart-message.i18n-notification-for-restart-nginx
script.
  open('./js/vendor/jquery-2.1.4.min.js', ['$', 'jQuery'])
    .then(() => open('./js/vendor/i18next-1.11.1.min.js', ['i18n']))
    .then(() => open('./js/vendor/bootstrap.min.js', []))
    .then(() => open('./js/app.js', []));

  function open(url, keys) {
    'use strict';
    return new Promise((resolve, reject) => {
      if (window.require != null) {
        let v = require(url);
        keys.forEach(key => {
          window[key] = v;
        });
        resolve();
      } else {
        let target = document.createElement('script');
        target.charset = 'utf-8';
        target.src = url;
        target.onload = resolve;
        document.body.appendChild(target);
      }
    });
  }
