doctype html
meta(charset='utf-8')
title nginx-rtmp-frontend
link(rel='stylesheet' href='css/bootstrap.min.css')
link(rel='stylesheet' href='css/font-awesome.min.css')
#content
script.
  window.$ = window.jQuery = require("./js/vendor/jquery-2.1.4.min.js");
script(src='js/vendor/bootstrap.min.js')
script(src='js/vendor/react.min.js')
script(src='js/app.js')
