doctype html
meta(charset='utf-8')
title nginx-rtmp-frontend
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='css/bootstrap.min.css')
link(rel='stylesheet' href='css/font-awesome.min.css')
style.
  * {
    font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, 'メイリオ', Meiryo, sans-serif;
  }
  body {
    user-select: none;
    -webkit-user-select: none;
  }
  .selectable {
    user-select: all;
    -webkit-user-select: all;
  }
main
script.
  open('./js/vendor/jquery-2.1.4.min.js', ['$', 'jQuery'])
    .then(() => open('./js/vendor/bootstrap.min.js', []))
    .then(() => open('./js/app.js', []));

  function open(url, keys) {
    'use strict';
    return new Promise((resolve, reject) => {
      if (window.require != null) {
        let v = require(url);
        keys.forEach(key => {
          window[key] = v;
        });
        resolve();
      } else {
        let target = document.createElement('script');
        target.charset = 'utf-8';
        target.src = url;
        target.onload = resolve;
        document.body.appendChild(target);
      }
    });
  }
